.i-honey {
  fill: rgb(252,177,3);
}
ul.lgx {
  display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 0;
}
/*.lgy {
  margin-top: 0;
  padding-top: 0;
}
*/
.text-xxl {
  font-size: 36px;
}
