.i-honey {
  fill: rgb(252,177,3);
}
.lgx .ul {
  display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lgx ul li {
    display: inline;
}
.lgy {
  margin-top: 0;
  padding-top: 0;
}
