.i-honey {
  fill: rgb(252,177,3);
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}
#nav li {
	float: left; 
}
.text-xxl {
  font-size: 36px;
  float: left;
  margin-top: 25%;
}
